<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Web Development</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Javascript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>HTML/CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>jQuery</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Vue</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Angular</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="25%">
                <div class="skillbar-title"><span>React</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">25%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Typescript</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="15%">
                <div class="skillbar-title"><span>D3</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">15%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Backend, Databases, APIs</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Ruby on Rails</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="20%">
                <div class="skillbar-title"><span>Node/Express</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">20%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>GraphQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Resque</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>MySQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>Firebase</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
        </div>

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Testing</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Unit Testing (Mocha/Chai/Rspec)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Acceptance Testing (Capybara)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>A/B Testing</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
        </div>
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Version Control</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Git & Github</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Subversion</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
		</div>
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Other</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>Heroku</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Drupal</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="25%">
                <div class="skillbar-title"><span>Shopify</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">25%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://docs.google.com/document/d/1laJBzCloweUVFc5Qw4hmxXnl6OCoOucn6ikcCKsqhz4/export?format=pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Software Engineer II <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2019</span></h5>
                <h6><a target="_blank" href="https://indiegogo.com/"><span class="fa fa-briefcase"></span> Indiegogo </a></h6>
                <p>Indiegogo is a crowdfunding platform that allows campaigns to pitch their ideas, raise funds, and deliver perks to their contributors.</p>
                <p>* Tech Lead - Break projects down into stories, tested their core implementations early, communicated tech proposals with architects & senior engineers, integrating their feedback into the implementation; communicated across multiple teams for cross-functional features.</p>
                <p>* IC (in team of 5 engineers) - Build end-to-end features that improve user experience & increase conversions </p>
                <p>* Features Built - Perk Editor, Order Tracking, Marketplace, Local Currency, Payflow Upsell, etc </p>
            </li>
            <li>
                <h5>UI/UX Developer <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                <h6><a target="_blank" href="https://www.businesswire.com/portal/site/home/"><span class="fa fa-briefcase"></span> Business Wire</a></h6>
                <p>* Prototype and implement user interfaces for clients’ newsroom and investor sites </p>
                <p>* Develop and maintain web style guide and other user interface standards  </p>
                <p>* Built sites for clients like AmberRoad, SouthernGlaziers, SalemMedia, ApolloEndo and more.</p>
                <p>* Worked primarily with Javascript, CSS3, Sass, Responsive Web Design, jQuery and Drupal </p>
            </li>
            <li>
                <h5>Community Organizer <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2019</span></h5>
                <h6><a target="_blank" href="https://www.writespeakcode.com/"><span class="fa fa-briefcase"></span> Write/Speak/Code SF</a></h6>
                <p>Write/Speak/Code is on a mission to promote the visibility and leadership of technologists with marginalized genders through peer-led professional development.</p>
                <p>* Organize Meetup events in the Bay Area that rotates between workshops in writing blogposts and applying for CFPs, public speaking practice and feedback, and contributing to open source code. </p>
                <p>* Handled venue logistics, marketing, community building, and speaker-sourcing for events </p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Software Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2015</span></h5>
                <h6><a target="_blank" href="https://www.hackreactor.com/"><span class="fa fa-book"></span> Hack Reactor</a></h6>
                <p>Completed an immersive 12 week coding bootcamp (800+ hours) that teaches a JavaScript-focused curriculum </p>
            </li>
            <li>
                <h5>Bachelor of Integrative Biology <span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2013</span></h5>
                <h6><a target="_blank" href="https://www.berkeley.edu/"><span class="fa fa-book"></span> UC Berkeley</a></h6>
                <p>Completed my undergraduate degree at UC Berkeley, one of the top universities in the world</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- removed: Awards Section -->
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">

<!-- removed: Client References -->
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->